* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

.bkground {
    background-color: white;
}

.white-box {
    min-height: 80vh;
    margin-top: 5vh;
    justify-content: center;
}

nav h4{
    font-family: "Plus Jakarta Sans";
    font-weight: 800;
    margin-top: 1rem;
}

.three {
    background-color: hsl(219, 85%, 26%);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    margin-top: 10px;
    font-family: "Plus Jakarta Sans";
    font-size: 1.2rem;
}

.mark-as-read{
    margin-top: -2rem;
    margin-left: 32rem;
    color:  grey;
    cursor: pointer;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
}

.mark-as-read:hover{
    color: hsl(219, 85%, 26%);
}

.notification-box-1 {
    height: fit-content;
    background-color: hsl(209, 100%, 94%);
    margin: 8px;
    padding-bottom: 12px;
    margin-left: 1.5vw;
}

.notification-box-1 img {
    height: 5vh;
    align-self: center;
    margin-top: 7px;
}

.notification-box-1 P{
    margin-top: -1.8em;
    margin-left: 3.8em;
    margin-bottom: 0;
}
.notification-box-2{
    height: fit-content;
    background-color: hsl(209, 100%, 94%);
    margin: 8px;
    margin-left: 1.5vw;
} 

.notification-box-2 img{
    height: 5vh;
    align-self: center;
    margin-top: 7px;
}

.notification-box-2 P {
    margin-top: -1.8em;
    margin-left: 3.8em;
}

.notification-box-3{
    height: fit-content;
    background-color: hsl(209, 100%, 94%);
    margin: 8px;
    margin-left: 1.5vw;
} 

.notification-box-3 img{
    height: 5vh;
    align-self: center;
    margin-top: 7px;
}

.notification-box-3 P{
    margin-top: -1.8em;
    margin-left: 3.8em;
}

.notification-box-4 {
    height: fit-content;
    margin-top: 8px;
    margin-left: 1.5vw;
}

.notification-box-4 P{
    margin-top: -1.8em;
    margin-left: 3.8em;
}

.notification-box-4 img{
    height: 5vh;
    align-self: center;
    margin-top: 7px;
}

.message-box{
    border: 1px solid rgb(215, 215, 215);
    height: fit-content;
    margin-left: 7vw;
    margin-top: 2px;
    cursor: pointer;
}

.message-box:hover{
    background-color: hsl(205, 33%, 90%);
}

.message-box p{
    font-size: 0.9em;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
}

.notification-box-5 {
    height: fit-content;
    margin-top: 8px;
    margin-left: 1.5vw;
}

.notification-box-5 P{
    margin-top: -1.8em;
    margin-left: 3.8em;
}

.notification-box-5 img{
    height: 5vh;
    align-self: center;
}

.profile-img{
    margin-top: 7px;
}

.reacted-img{
    margin-left: 33em;
    margin-top: -4.5em;
    cursor: pointer;
}

.notification-box-6 {
    height: fit-content;
    margin-top: 8px;
    margin-left: 1.5vw;
}

.notification-box-6 P{
    margin-top: -2.5em;
    margin-left: 3.8em;
}

.notification-box-6 img{
    height: 5vh;
    align-self: center;
    margin-top: 7px;
}
.notification-box-7 {
    height: fit-content;
    margin-top: 8px;
    margin-left: 1.5vw;
}

.notification-box-7 P{
    margin-top: -1.8em;
    margin-left: 3.8em;
}

.notification-box-7 img{
    height: 5vh;
    align-self: center;
    margin-top: 7px;
}


.cur-point:hover{
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
